<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        <title>{% block title %}Billetterie{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@SDFBilletterieBundle/Resources/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            @media screen and (min-width:1024px){
                .form_mdp {
                    width:30%;
                }
            }
        </style>
    </head>
    <body>
        {% block body %}
            {% block navbar %}
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('sdf_billetterie_homepage') }}">Billetterie</a>
                        </div>
                    </div>
                </nav>
            {% endblock %}
            {% block app_pre_container %}{% endblock %}
            {% block app_container %}
                <div class='container'>
                    {% include 'SDFBilletterieBundle:Partials:flash.html.twig' %}
                </div>
                {% block app_content %}{% endblock %}
            {% endblock %}
            {% block app_post_container %}{% endblock %}
            {% block footer %}
                <div class='container'>
                    <hr />
                    <footer>
                        <p class='text-center'><a href="{{ path('index_page') }}">Retourner sur le site de la Soirée des Finaux</a></p>
                    </footer>
                </div>
            {% endblock  %}
        {% endblock %}
        {% block javascripts %}
            <!-- Bootstrap core JavaScript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

            {% javascripts '@SDFBilletterieBundle/Resources/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>