{% extends 'SDFBilletterieBundle:Pages/Admin/Entities:new.html.twig' %}

{% block entity_title %}Evénement{% endblock %}

{% block entity_create_path %}{{ path('sdf_billetterie_administration_event_create') }}{% endblock %}

{% block form_content %}
	<div class='row'>
		<div class='col-sm-6'>{{ form_row(form.nom) }}</div>
		<div class='col-sm-6'>{{ form_row(form.quantiteMax) }}</div>
	</div>
	{{ form_rest(form) }}
{% endblock %}