{% extends 'SDFBilletterieBundle:Mail:layout.html.twig' %}

{% block mail_content %}
	<h2>Infos pratiques</h2>
	<p>Salut à tous et à toutes,</p>
	<p>
		Alors que nous achevons cette dernière semaine de ce semestre à l'UTC - dernière semaine à l'UTC tout court pour certains -, il est important de se rappeler que ça veut dire que... Hé ouais, <strong>la SDF arrive demain</strong>.
		<br />
		C'est un bon moment pour vous donner quelques infos pratiques sur le déroulement de la soirée.
	</p>
	<ul>
		<li>L'entrée se fera par le biais de votre carte étudiant, qui est associée à votre place et à celle des extérieurs que vous invitez. Si vous n'avez pas votre carte étudiant, vous pouvez imprimer votre billet, qui permettra également d'entrer sur le site.</li>
		<li>Le paiement des consommations se fera par PayUTC. Si vous invitez des extérieurs, ceux-ci pourront payer par l'intermédiaire soit de votre carte PayUTC, soit d'une carte Nemopay accessible avec une caution de 1€. Les cartes PayUTC et Nemopay seront rechargeables sur place en échange d'espèces, ou en ligne.</li>
		<li>Des navettes seront mises en place entre BF et le Ziquodrome, à partir de 18 heures 30 jusqu'à 22 heures 45 - ne tardez pas trop si vous ne voulez pas rejoindre la SDF à pied ! L'accès aux navettes se fera par queue, il n'y aura pas de réservation des navettes en ligne. Le retour par navette se fera lui de minuit 30 à 4h.</li>
		<li>Chaque place comprend un repas que vous pourrez aller retirer.</li>
	</ul>
	<p>Bon courage à tous pour les derniers finaux, on vous souhaite d'avoir beaucoup de force - pensez fort à vendredi soir ;)</p>
	<p><strong>La Soirée des Finaux</strong></p>
	<p>P.S. Rappelez à vos potes de prendre leur place, on ferme la billetterie demain matin ;)</p>
	<p>P.S.2. Si vous êtes en rade de thunes, vous pouvez faire une <a href='mailto:perm.sdf@gmail.com'>permanence</a> pour avoir des bières en plus - 1 bière pour 1h, 2 bières pour 2h et 4 bières pour 3h. Rappelez-vous, plus il y a de permanenciers, moins vous attendrez, meilleure sera votre soirée. Envoyez-nous un mail !</p>
{% endblock %}