parameters:
    payutc_client.class: SDF\BilletterieBundle\Utils\Payutc\Client\PayutcClient
    ginger_client.class: SDF\BilletterieBundle\Utils\Ginger\Client\GingerClient
    cas_client.class: SDF\BilletterieBundle\Utils\Cas\Client\CasClient
    cas.authentication.listener.class: SDF\BilletterieBundle\Authentication\Firewall\CasListener
    cas.authentication.provider.class: SDF\BilletterieBundle\Authentication\Cas\Provider\CasProvider
    sdf_billetterie.utils.pdf.generator.class: SDF\BilletterieBundle\Utils\Pdf\Generator\PdfGenerator
    sdf_billetterie.repositories.ticket.class: Doctrine\ORM\EntityRepository
    sdf_billetterie.repositories.ticket.factory_method: SDF\BilletterieBundle\Entity\Billet
    sdf_billetterie.utils.barcode.generator.class: SDF\BilletterieBundle\Utils\Barcode\Generator\BarcodeGenerator
    sdf_billetterie.utils.mail_manager.class: SDF\BilletterieBundle\Utils\Mailer\MailManager

services:
    payutc_client:
        class: %payutc_client.class%
        arguments: [@session, %sdf_billetterie.payutc.key%, %sdf_billetterie.payutc.api_url%, %sdf_billetterie.payutc.api_service%]

    ginger_client:
        class: %ginger_client.class%
        arguments: [%sdf_billetterie.ginger.key%, %sdf_billetterie.ginger.url%]

    cas_client:
        class: %cas_client.class%
        arguments: [@logger, %sdf_billetterie.utc_cas.url%, 10]

    cas.authentication.listener:
        class:  %cas.authentication.listener.class%
        arguments: [@security.context, @security.authentication.manager, @session]

    cas.authentication.provider:
        class:  %cas.authentication.provider.class%
        arguments: ['', %kernel.cache_dir%/var/cas, @doctrine.orm.entity_manager, @security.password_encoder, @cas_client, @ginger_client]

    sdf_billetterie.utils.pdf.generator:
        class: %sdf_billetterie.utils.pdf.generator.class%
        arguments: [%pdf_image_path%]

    sdf_billetterie.repositories.ticket:
        class: %sdf_billetterie.repositories.ticket.class%
        factory_service: doctrine.orm.entity_manager
        factory_method: getRepository
        arguments: [%sdf_billetterie.repositories.ticket.factory_method%]

    sdf_billetterie.utils.barcode.generator:
        class: %sdf_billetterie.utils.barcode.generator.class%
        arguments: [@sdf_billetterie.repositories.ticket, %sdf_billetterie.settings.barcode.max_number%]

    sdf_billetterie.utils.mail_manager:
        class: %sdf_billetterie.utils.mail_manager.class%
        arguments: [@mailer, @twig, %sdf_billetterie.mails.from%, %sdf_billetterie.mails.reply_to%, %sdf_billetterie.mails.text_only%, %sdf_billetterie.mails.checkout_subject%]