# This file is a "template" of what your parameters.yml file should look like
# Si vous utilisez les serveurs du SIMDE : Les paramètres sont pré-remplis,
# il vous suffit de remplacer "soireedesfinaux" par votre login asso
# et d'entrer votre mot de passe
parameters:
    database_driver:   pdo_mysql
    database_host: sql.mde.utc
    database_port:     ~
    database_name: soireedesfinaux
    database_user: soireedesfinaux
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Ginger API URL
    ginger_api_url: https://assos.utc.fr/ginger/v1/

    # Ginger Client key
    ginger_key:

    # PayUTC Client key
    payutc_key:

    # PayUTC Client key
    payutc_api_url: http://payutc.localhost/server

    # PayUTC Fundation ID
    payutc_fundation_id:

    # UTC CAS URL
    utc_cas_url: https://cas.utc.fr/cas/

    # PDF Generator image path
    pdf_image_path: relative/path/to/the/pdf/background/image/from/the/web/folder.jpg