# you can read more about security in the related section of the documentation
# http://symfony.com/doc/current/book/security.html
security:
    # http://symfony.com/doc/current/book/security.html#encoding-the-user-s-password
    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        SDF\BilletterieBundle\Entity\User:
            algorithm:            pbkdf2
            hash_algorithm:       sha512
            encode_as_base64:     true
            iterations:           10000

    # http://symfony.com/doc/current/book/security.html#hierarchical-roles
    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        in_memory:
            memory:
                users:
                    user:  { password: userpass, roles: [ 'ROLE_USER' ] }
                    admin: { password: adminpass, roles: [ 'ROLE_ADMIN' ] }

        users:
            entity:
                class: SDFBilletterieBundle:User

    # the main part of the security, where you can set up firewalls
    # for specific sections of your app
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false

        billetterie_subscribe:
            pattern: ^/billetterie/subscribe$
            security: false

        billetterie:
            pattern: ^/billetterie
            anonymous: ~
            provider: users
            authentication_cas: true
            form_login:
                login_path: sdf_billetterie_homepage
                check_path: sdf_billetterie_login_check
            remember_me:
                key:  %secret%
                name: billetterie
                lifetime: 3600
                path:     /billetterie
                domain:   ~
            logout:
                path:   sdf_billetterie_logout
                target: /
                invalidate_session: false

    access_control:
        - { path: ^/billetterie/$, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/billetterie, roles: ROLE_USER }